<!DOCTYPE html>
<html>
  <head>
    <title>Single Book</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Book Details</h1>
    <div class="single__book__box">
      <img src="<%= books.cover_img%>" alt="cover image" />
      <h2>Book Title: <%= books.title%></h2>
      <p>Summary: <%= books.summary%></p>
      <p>Pages: <%= books.pages%></p>
      <p>Publication: <%= books.publication%></p>
      <p>Category: <%= books.category%></p>
      <p>Author: <%= books.authorId.author_name%></p>
    </div>
  </body>
</html>
