<!DOCTYPE html>
<html>
  <head>
    <title>Single Book</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Book Details</h1>
    <div class="single__book__box">
      <img src="<%= books.cover_img%>" alt="cover image" />
      <h2><%= books.title%></h2>
      <p><%= books.summary%></p>
      <p><%= books.pages%></p>
      <p><%= books.publication%></p>
      <p><%= books.category%></p>
      <p><%= books.author_name%></p>
    </div>
  </body>
</html>
